<!-- INCLUDE overall_header.html -->
<h2>Utakara {L_LIST}</h2>
<table>
	<!-- a traduire -->
  <tr>
    <th>{L_TITLE}</th>
    <th>{L_ORIGIN}</th>
    <th>{L_DATE}</th>
    <th>{L_GRADE}</th>
    <th>{L_ACCEPTED}</th>
  </tr>
  <!-- BEGIN list -->
  <tr>
    <td>{list.TITLE}</td>
    <td>{list.ORIGIN}</td>
    <td>{list.DATE}</td>
    <td>{list.NOTE}</td>
	<td><!-- IF list.ACCEPTED -->{L_ACCEPTED}<!-- ELSE -->{L_NOACCEPTED}<!-- ENDIF --></td>
  </tr>
  <!-- END list -->
</table>

<!-- INCLUDE overall_footer.html -->