/* Utakara karaoke list */

.u_list ul.topiclist dt.utitle {
	width : 39%;
}

.u_list ul.topiclist li.header dt.utitle {
	padding-right:0px;
}

.u_list .uorigin {
	width : 39%;
}

.u_list .udate {
	width : 10%;
}

.u_list .uaccept {
	width : 10%;
}

.message ul {
	list-style: none;
	font-weight: bold;
}

.message ul .success {
	color : #66CC00;
}

.message ul .error {
	color : #AA0000;
}

#timer_menu ul#menu {
	list-style: none;	
}

#timer_menu ul#menu li{
	text-align : center;
	float: left;
	margin-right : 5px;
	width : 130px;
	height : 25px;
	background: url("./images/bt_timer_menu.png") no-repeat scroll 0 0 transparent;
	cursor: pointer;
}

#timer_menu ul#menu li a {
	margin-top : 3px;
	font-weight: bold;
	color: #FFF;
	width : 130px;
	height : 25px;
	display: block;
}

#timer_menu ul#menu li:hover {
	font-style: none;
	background-position: bottom;
}