<!-- MOD : MSSTI Quick Language (v1.0.1) - START --> 
<!-- IF S_QUICK_LANG_OPTIONS -->
<div class="gensmall" style="text-align: {S_CONTENT_FLOW_END}; float: {S_CONTENT_FLOW_END}; position: relative; margin-top: -20px; clear: both;">
	<form method="post" action="{S_QUICK_LANG_ACTION}">
		<label for="quick_language">{L_QUICK_LANGUAGE}:</label>
		<select name="quick_language" id="quick_language" onchange="this.form.submit();" class="gensmall">{S_QUICK_LANG_OPTIONS}</select>
		<noscript><input type="submit" value="{L_CHANGE}" class="btnlite" /></noscript>
	</form>
</div>
<!-- ENDIF -->
<!-- MOD : MSSTI Quick Language (v1.0.1) - END -->