<!-- MOD : MSSTI Quick Language (v1.0.1) - START -->
<!-- IF S_QUICK_LANG_OPTIONS -->
<div style="text-align: right; margin-bottom: 5px">
	<form method="post" action="{S_QUICK_LANG_ACTION}" style="margin-bottom: 5px">
		<label for="quick_language" class="syntaxbg">{L_QUICK_LANGUAGE}:</label>
		<select name="quick_language" id="quick_language" onchange="this.form.submit();" class="small">{S_QUICK_LANG_OPTIONS}</select>
		<noscript><input type="submit" value="{L_CHANGE}" class="button2" /></noscript>
	</form>
</div>
<!-- ENDIF -->
<!-- MOD : MSSTI Quick Language (v1.0.1) - END -->