<!-- INCLUDE overall_header.html -->
<h2>{L_ABOUT_US}</h2>
<div class="panel bg1" id="faqlinks">
	<div class="inner"><span class="corners-top"><span></span></span>
		<div class="column1">
			<dl class="faq">
				<dt><strong>{L_UTAKARA_GROUP}</strong></dt>
				<dd>PAJAUD Sylvain</dd>
				<dd>GRONIER Maxime</dd>
				<dd>CORDOUI-BARZI Cyril</dd>
				<dd>GRASSELAT Florent</dd>
				<dd>YANG Olivier</dd>
				<dd>MOUSSOKI Terance</dd>
				<dd>LESPAGNOL Julien</dd>
				<dd>NGUYEN Frederic</dd>
			</dl>
		</div>
		<div class="column2">
			<dl class="faq">
				<dt><br/></dt>
				<dd>{L_UTAKARA_DIRECTOR}</dd>
				<dd>{L_UTAKARA_DIRECTOR}</dd>
				<dd>{L_TECHNIC_DIRECTOR}</dd>
				<dd>{L_SECRETA_DIRECTOR}</dd>
				<dd>{L_WEB_DIRECTOR}</dd>
				<dd>{L_PARTNER_DIRECTOR}</dd>
				<dd>{L_DEV_DIRECTOR}</dd>
				<dd>{L_DEV_DIRECTOR}</dd>				
			</dl>		
		</div>
	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- INCLUDE overall_footer.html -->