<!-- INCLUDE overall_header.html -->
<h2>{L_KARA_ASK}</h2>
<!-- IF MESSAGE != "" -->
<div class="message">
	<ul>
		{MESSAGE}
	</ul>
</div>
<!-- ENDIF -->
<div id="postingbox" class="panel">
	<div class="inner">
		<span class="corners-top">
			<span></span>
		</span>
		<h3>{L_KARA_TO_ASK}</h3>
		<form id="postform" method="post" action="./utakara.php?mode=create" enctype="multipart/form-data">
			<fieldset class="field1">
				<dl>
					<dt><label for="icon">{L_TITLE}</label></dt>
					<dd><input id="subject" class="inputbox autowidth" type="text" name="title"></dd>
				</dl>
				<dl>
					<dt><label for="icon">{L_UTA_WHERE_FROM}</label></dt>
					<dd><input id="origin" class="inputbox autowidth" type="text" name="origin"></dd>
				</dl>
			</fieldset>
			<fieldset class="submit-buttons">
				<input class="button1 default-submit-action" type="submit" value="{L_SUBMIT}" name="post" tabindex="6" accesskey="s"/>
			</fieldset>
		</form>
		<span class="corners-bottom">
			<span></span>
		</span>
	</div>
</div>
<!-- INCLUDE overall_footer.html -->