<!-- INCLUDE overall_header.html -->
<div id="timer_menu">
	<ul id="menu">
		<li><a href="./utakara.php?mode=timer">{L_TIMER_PANEL}</a></li>
		<li><a href="./utakara.php?mode=timer&section=todo">{L_TODO_LIST}</a></li>
	</ul>
</div>
<h2>{USERNAME} : {PAGE_TITLE}</h2>
<!-- IF MESSAGE != "" -->
<div class="message">
	<ul>
		{MESSAGE}
	</ul>
</div>
<!-- ENDIF -->
<!-- IF TIMER == 1 -->
	<div id="postingbox" class="panel u_timer_panel">
		<div class="inner">
			<h3>{L_TO_TIME_LIST}</h3>
			<form id="postform" method="post" action="#" enctype="multipart/form-data">
				<table class="topiclist">
					<tbody>
						<tr>
							<th class="ucheck"> </th>
							<th class="utitle">{L_TITLE}</th>
						    <th class="uorigin">{L_ORIGIN}</th>
						    <th class="udate">{L_DATE}</th>
						    <th class="ugrade">{L_GRADE}</th>
						    <th class="uaccept">{L_STATE}</th>
							<th class="uedit">{L_EDIT}</th>
							<!-- IF U_ACP -->
							<th class="utransfer">{L_TRANSFER}</th>
							<!-- ENDIF -->
						</tr>
						<!-- BEGIN list -->
							<tr>
								<td class="ucheck"><input type="checkbox" value="{list.ID}" name="{list.TITLE} - {list.ORIGIN}" /></td>
							    <td class="utitle" >{list.TITLE}</td>
							    <td class="uorigin">{list.ORIGIN}</td>
							    <td class="udate">{list.DATE}</td>
							    <td class="ugrade">{list.NOTE}</td>
								<td class="uaccept">{list.STATUS}</td>
							    <td class="uedit"><a href="?mode=timer&section=edit&id={list.ID}">{L_EDIT}</a></td>
								<!-- IF U_ACP -->
									<td class="utransfer"><a href="?mode=transfer&id={list.ID}">{L_TRANSFER}</a></td>
								<!-- ENDIF -->
							</tr>
						<!-- END list -->
					</tbody>
				</table>
				<div class="submit-panel">
					<select name="action">
						<!-- BEGIN action -->
						<option value="{action.VALUE}">{action.TITLE}</option>
						<!-- END action -->
					</select>
					<input type="submit" value="{L_GO}" />
					<input type="reset" value="{L_UNSELECT}">
				</div>
			</form>
			<span class="corners-bottom">
				<span></span>
			</span>
		</div>
	</div>
<!-- ELSE -->
	<p>{L_TIMER_NOT_CONNECTED}</p>
<!-- ENDIF -->
<!-- INCLUDE overall_footer.html -->